.container_img{
    display: flex;
    margin: 2em;
    gap: 5em;
    background: rgba(255, 255, 255, 0.2); /* Fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container_img img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

.bio_idade{
    margin-top: 1em;
    font-size: 1.4em;
}

.post{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 132, 255);
    border-radius: 10px;
    margin-top: 1em;
    height: 3em;
    width: 6em;
    font-size: 17px;
    transition: .2s linear;
    
}

.post a{
    color: white;
    
}

.post:hover{
    background-color: rgb(3, 89, 170);
    transform: scale(1.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.315);
}

h3{
    margin-left: 1em;
}
